
:root{
    /*Extensibella logo colors*/
    --extensibellaColorOne: #FFCC00;
    --extensibellaColorTwo: #E66600;
    --extensibellaColorThree: #CC0000;

    /*Sterling logo colors*/
    --sterlingColorOne: #668CFF;
    --sterlingColorTwo: #DEDEDE;

    /*MMEL page colors*/
    --mmelColorOne: #FF0000;
    --mmelColorTwo:  #FF9999;

    /*general*/
    --background: #FFFFFF;
    --text: #222;
    --codeBackground: #DFDFDF;

    /*code display boxes*/
    --extensibellaBackground: #FFD1B3;
    --extensibellaBorder: #FF6600;
    --sterlingBackground: #E6F9FF;
    --sterlingBorder: #000099;

    /*code display text*/
    --foldLink: #777777;
    --tactic: #3C3C3C;
    --comment: #800000;
    --command: #000000;
}


/*
  Header
*/
body.extensibella img.header-logo {
    height: 65px;
}
body.sterling img.header-logo {
    height: 80px;
}
body.mmel {
    height: 65px;
}



/*
  General Body
*/
body {
    margin: 10px;
    background-color: var(--background);
    color: var(--text);
}
/*set the accent color based on the particular language*/
body.extensibella {
    --accent: var(--extensibellaColorTwo);
    --accentVariation: #FF811A;
}
body.sterling {
    --accent: var(--sterlingColorOne);
    --accentVariation: #1A53FF;
}
body.mmel {
    --accent: var(--mmelColorOne);
    --accentVariation: #FF4D4D;
}


body.mmel img.largeHeader {
    margin-top: -20px;
    margin-bottom: -40px;
}


div.section {
    width: 80%;
    margin: 5px;
    padding: 5px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: var(--accent);
    margin-bottom: 0px;
}


a {
    color: var(--accentVariation);
    text-decoration: none;
}
a:hover {
    color: var(--accent);
}


p {
    margin-top: 0px;
}

/*From w3schools.com/howto/howto_css_bullet_color.asp*/
ul {
  list-style: none; /* Remove default bullets */
}
ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--accent); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
/*Second level, so it is different than the first level*/
ul li ul li::before {
  content: "\25A0";  /* Add content (square)*/
  color: var(--accent); /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

span.highlight {
  color: var(--accent);
  font-weight: bold;
}

.sideBySideRight {
  float: right;
  margin-left: 10px;
}

img.inlineImage.extensibella {
  width: 225px;
}

img.inlineImage.sterling {
  width: 200px;
}


hr.sectionSeparator {
  border-color: var(--accent);
  width: 90%;
}

img.landingLink {
    /*makes the letter height on Sterling and Extensibella logos ~the same*/
    max-width: 300px;
    max-height: 80px;
    /*center the image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}



/*footer*/
div.footer {
    height: 40px;
    margin-top: 10px;
    padding-bottom: 20px;
}

div.footer img.mmel-back-link {
    height: 40px;
    display: block;
    float: left;
}

div.footer p {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
    float: left;
}




/*
  Examples Lists
*/
ul.examples-list{
    list-style: none; /*no bullets*/
}
ul.examples-list li::before{
    content: none; /*no bullets*/
}
ul.examples-list li{
    padding: 3px;
    margin-bottom: 10px;
    border-bottom: 2px dotted var(--accent);
}




/*
  Syntax Display
*/
table.syntax-table{
    margin-left: 30px;
}

code{
    padding: 3px 2px 1px 2px;
    background-color: var(--codeBackground);
}

table.display-syntax-table code{
    margin-right: 15px;
}

table{
    margin-top: 5px;
}




/*
  Proof Display
*/
pre.code {
    text-align: justify;
    margin: 10px 0 20px 20px;
    overflow-x: auto;
    padding: 5px;
    border-width: 2px;
    border-style: dashed;
    background-color: var(--codeBackground);
}

pre.code.extensibella {
    background-color: var(--extensibellaBackground);
    border-color: var(--extensibellaBorder);
}

pre.code.sterling {
    background-color: var(--sterlingBackground);
    border-color: var(--sterlingBorder);
}


div.proof {
    margin-top: -10px;
}

.fold-link, .fold-link:hover {
    color: var(--foldLink);
    text-decoration-line: none;
    font-size: 10pt;
}



.tactic {
    color: var(--tactic);
    text-decoration-line: none;
}
.tactic:hover {
    color: var(--tactic);
    text-decoration-line: underline;
}

.comment {
    color: var(--comment);
}

.command {
    color: var(--command);
    text-decoration-line: none;
}
.command:hover {
    color: var(--command);
    text-decoration-line: underline;
}
